force-app/main/default/flows/Book_Order_Count_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetBookOrderLineItems</name>
        <label>GetBookOrderLineItems</label>
        <locationX>739</locationX>
        <locationY>349</locationY>
        <actionName>GetChildCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BookLineItems</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecord</typeName>
            <typeValue>Book_Order__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__childCollection</typeName>
            <typeValue>Book_Line_Item__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>childRecordFieldsCSV</name>
            <value>
                <stringValue>Id, Preordered__c, Quantity__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>childRelationshipName</name>
            <value>
                <stringValue>Book_Line_Item__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>Book_Orders</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetChildCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddBookQuantity</name>
        <label>AddBookQuantity</label>
        <locationX>969</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>varAllTimeOrderedBookCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BookLineItems.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BookLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_a_bulk_import</name>
        <label>Is this a bulk import?</label>
        <locationX>245</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>Get_Book_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bulk Import No</defaultConnectorLabel>
        <rules>
            <name>Bulk_Import_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imported__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bulk Import Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Book Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book Order Count</label>
    <loops>
        <name>Book_Orders</name>
        <label>Book Orders</label>
        <locationX>496</locationX>
        <locationY>335</locationY>
        <collectionReference>Get_Book_Order_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetBookOrderLineItems</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>BookLineItems</name>
        <label>BookLineItems</label>
        <locationX>739</locationX>
        <locationY>529</locationY>
        <collectionReference>GetBookOrderLineItems.childCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddBookQuantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact_with_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Book_Order_Records</name>
        <label>Get Book Order Records</label>
        <locationX>254</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Book_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_with_Count</name>
        <label>Update Contact with Count</label>
        <locationX>496</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>Book_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Book_Count__c</field>
            <value>
                <elementReference>varAllTimeOrderedBookCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>455</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_this_a_bulk_import</targetReference>
        </connector>
        <object>Book_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAllTimeOrderedBookCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUpdatePreorderedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
